---
layout: default
---

<div class="home">


<div class="posts">
  {% for post in site.posts limit:site.max_article_index %}
  <article class="post-preview">
    
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if post.categories %}
      {% for category in post.categories %}• {{ category }} {% endfor %}{% endif %}</p>
    {{ post.excerpt }}
    <p><a href="{{ post.url }}" title="{{ post.title }}">Lire la suite</a></p>
  </article>
  {% endfor %}
</div>

<div class="home-read-more">
  <a href="{{ "/archive" | prepend:site.baseurl }}" class="button-large">Voir tous les articles</a>
</div>

</div>
